

#description{
    margin-right: 50px;
    margin-left: 50px;
}

#date{
    margin-right: 50px;
    margin-left: 50px;
}
#members, #instruments{
    margin-right: 20px;
    margin-left:20px;
}

#listOfEventAndBand{
	margin-left: -30px;
}

.listImg{
	top: 50%;
	transform: translateY(25%);
}


/*eventsIncoming{
    margin-right: 50px;
    margin-left: 50px;
}

#pastEvents{
    margin-right: 50px;
    margin-left: 50px;
}*/
.titleEventForBand{
    margin-left: 20px;
}

