

#description{
    margin-right: 50px;
    margin-left: 50px;
}

#date{
    margin-right: 50px;
    margin-left: 50px;
}
#members{
    margin-right: 20px;
    margin-left:20px;
}
/*eventsIncoming{
    margin-right: 50px;
    margin-left: 50px;
}

#pastEvents{
    margin-right: 50px;
    margin-left: 50px;
}*/
.titleEventForBand{
    margin-left: 20px;
}

